@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
body{
    background: url(images/detente.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}
.navbar{
  display: block;
  position: fixed;
  top: 0%;
  height: 50px;
  width: 100%;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}
a{
  color: #FFF;
  text-decoration: none;
}
.navbar>.menu{
  margin-top: 5px;
  position: absolute;
  right: 5px;
  height: 40px;
  width:200px;
}
.dropdown-menu{
  background-color: #428bca;
}
.dropdown-menu>a{
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar{
  z-index: 1000;
}
.principale{
    margin-top: 50px;
    height: 150px;
    position: relative;
}
.menu-title{
    height: 40px;
    width: 150px;
    margin: 0;
}
.menu-button{
    height: 40px;
}
.dropdown-menu-right{
    background-color: #428bca;
}
.ordi-ecran-navigateur{
  position: absolute;
  width: 938px;
  left: 4px;

}
.ordi{
  width: 1170px;
  height: 1000px;
  position: relative;
}
.html5colorpicker, .color-change{
  position: absolute;
    height: 20px;
    width:20px;
    top: 5px;
    left: 5px;
}
.html5colorpicker{
  opacity: 0;
  z-index: 1;
}
.col{
  display: inline-block;
  width: 30%;
}
.ajouter, .save{
  position: absolute;
  border: 1px solid #ccc;
  background-color: #428bca;
  width: 75px;
  height: 30px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
  top: 50px;
}
.ajouter{
  right: 850px;
}
.save{
  left: 750px;
}
.saved-data{
  z-index: -100;
}
.footer{
  display: block;
  width: 100%;
  position: absolute;}
  
.barre{
  height: 100px;
  z-index: 100;
  background-color: #428bca;
  bottom: 0px
}
.titre-input{
  color:black;
  background-color: whitesmoke;

}