@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

.loginPage{
  
  background-image: url(images/banner.jpg);
}
.login{
    font-family: 'Lato', sans-serif;
    padding:160px 0px;
}

.login-box{
    background:#FFF;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding:30px;
    border-radius:8px;
    min-height:350px;
}
.signup-box{
  background:#FFF;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding:30px;
    border-radius:8px;
    min-height:600px;
}

.form-control{
    margin:20px 0px;
}
.form-group>a{
  text-decoration: none;
  color: darkblue;
}
.navbar{
  display: block;
  position: fixed;
  top: 0%;
  height: 50px;
  width: 100%;
  color: aliceblue;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 0;
}
a{
  color: #FFF;
  text-decoration: none;
}
.menu{
  margin-top: 5px;
  position: absolute;
  right: 5px;
}
.dropdown-menu{
  background-color: #428bca;
}
.dropdown-menu>a{
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar{
  z-index: 1000;
}
.icone{
  padding-top:30px;
}